
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/StylesCSS.css" rel="stylesheet" />
    <script src="~/Scripts/VoucherJavaScipt.js"></script>
    <title>Index</title>
</head>
<body>
<div>
    <h1>Välkommen till Integrationsbolaget</h1>
    <img id="logo" src="~/Pictures/IBlogo.png"/>
    <div id="button" onclick="test()"></div>
    <label id="Voucher">Voucher here</label>
</div>
</body>
</html>
